*.pyc
__pycache__
/.lake/
/data/*
!/data/belyi_source_stack/
!/data/belyi_source_stack/source_stack.jsonl
!/data/belyi1980_polynomial/
!/data/belyi1980_polynomial/polynomial.jsonl
!/data/mochizuki_elementary/
!/data/mochizuki_elementary/lemma21.jsonl
*.txt
*.out
outputs/
results/
multirun/
*.ipynb
cache/
tests/
.aider*
visualize
.DS_Store
